.item {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 10px rgb(155, 230, 167);
}

.item div {
  display: flex;
  flex-direction: column;
}

.item button {
  padding: 5px 10px;
  background-color: #ff6b6b;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.item button:hover {
  background-color: #ff4d4d;
}

.item p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
